@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply w-[90vw] max-w-screen-2xl mx-auto;
}

.mask-left {
  mask-image: url("data:image/svg+xml,%3Csvg width='1728' height='514' viewBox='0 0 1728 514' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0H1728L1612.74 514H0V252.5V0Z' fill='black' fill-opacity='0.89'/%3E%3C/svg%3E%0A");
  mask-position: right;
  mask-repeat: no-repeat;
  mask-size: cover;
}

.mask-right {
  mask-image: url("data:image/svg+xml,%3Csvg width='1729' height='515' viewBox='0 0 1729 515' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1728.5 514.5H0.225586L115.5 0.5H1728.5V262V514.5Z' fill='black' fill-opacity='0.89'/%3E%3C/svg%3E%0A");
  mask-position: left;
  mask-repeat: no-repeat;
  mask-size: cover;
}

.title {
  @apply text-center uppercase font-bold text-lg lg:text-2xl;
}

.model-info {
  ul, ol {
    @apply flex flex-col flex-wrap gap-4 lg:grid lg:grid-cols-2 lg:grid-flow-col lg:gap-x-14 lg:gap-y-2 xl:grid-cols-3;

    @media (min-width: 1024px) {
      grid-template-rows: repeat(6, auto);
    }
  }

  li {
    @apply flex gap-x-2 items-start max-w-[480px];

    &::before {
      content: "";
      max-width: 22px;
      max-height: 18px;
      min-width: 22px;
      min-height: 18px;
      margin-top: 3px;
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="28" height="22" fill="none"><path fill="%23fff" d="M28 11 16.9 22l-1.337-1.325 8.817-8.738H0v-1.874h24.38l-8.82-8.74L16.9 0 28 11Z"/></svg>');
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}
